<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="mikeamelung_cranial_get_types" path="/cranial/content-types"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::contentTypes"
        methods="GET"/>
    <route id="mikeamelung_cranial_get_templates" path="/cranial/content-templates"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::contentTemplates"
        methods="GET"/>
    <route id="mikeamelung_cranial_get_pages" path="/cranial/page-templates"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::pageTemplates"
        methods="GET"/>
    <route id="mikeamelung_cranial_all_content" path="/cranial/all-content"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::allContent"
        methods="GET"/>
    <route id="mikeamelung_cranial_content" path="/cranial/content/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::content"
        methods="GET"/>
    <route id="mikeamelung_cranial_create_content" path="/cranial/content/create"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::createContent"
        methods="POST"/>
    <route id="mikeamelung_cranial_update_content" path="/cranial/content/update"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::updateContent"
        methods="POST"/>
    <route id="mikeamelung_cranial_delete_content" path="/cranial/content/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::deleteContent"
        methods="DELETE"/>
    <route id="mikeamelung_cranial_all_files" path="/cranial/all-files"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::allFiles"
        methods="GET"/>
    <route id="mikeamelung_cranial_file" path="/cranial/file/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::file"
        methods="GET"/>
    <route id="mikeamelung_cranial_create_file" path="/cranial/file/create"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::createFile"
        methods="POST"/>
    <route id="mikeamelung_cranial_update_file" path="/cranial/file/update"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::updateFile"
        methods="POST"/>
    <route id="mikeamelung_cranial_delete_file" path="/cranial/file/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::deleteFile"
        methods="DELETE"/>
     <route id="mikeamelung_cranial_all_images" path="/cranial/all-images"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::allImages"
        methods="GET"/>
    <route id="mikeamelung_cranial_image" path="/cranial/image/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::image"
        methods="GET"/>
    <route id="mikeamelung_cranial_create_image" path="/cranial/image/create"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::createImage"
        methods="POST"/>
    <route id="mikeamelung_cranial_update_image" path="/cranial/image/update"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::updateImage"
        methods="POST"/>
    <route id="mikeamelung_cranial_delete_image" path="/cranial/image/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::deleteImage"
        methods="DELETE"/>
    <route id="mikeamelung_cranial_all_pages" path="/cranial/all-pages"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::allPages"
        methods="GET"/>
    <route id="mikeamelung_cranial_page" path="/cranial/page/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::page"
        methods="GET"/>
    <route id="mikeamelung_cranial_create_page" path="/cranial/page/create"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::createPage"
        methods="POST"/>
    <route id="mikeamelung_cranial_update_page" path="/cranial/page/update"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::updatePage"
        methods="POST"/>
    <route id="mikeamelung_cranial_delete_page" path="/cranial/page/{id}"
        controller="MikeAmelung\CranialBundle\Controller\ContentController::deletePage"
        methods="DELETE"/>

</routes>
